::ng-deep .toggle-md.p-toggleswitch { min-width: 3rem; height: 1.6rem; }
::ng-deep .toggle-md .p-toggleswitch-slider { border-radius: 0.9rem; }
::ng-deep .toggle-md .p-toggleswitch-handle { width: 1.2rem; height: 1.2rem; }
