<!-- <div class="card">

</div> -->

    <div class="shadow-8">
        <p-menubar>
            <ng-template pTemplate="start">
                <!-- Botón personalizado que reemplaza al botón nativo -->
                <button 
                  class="p-button p-button-rounded p-button-text md:hidden" 
                  (click)="toggleAction()">
                  <i class="pi pi-bars"></i>
                </button>

              </ng-template>
              <ng-template pTemplate="end">
                <!-- Botón personalizado que reemplaza al botón nativo -->
                @if ((this.auth.isAuthenticated$ | async)) {

                    <button  pRipple class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround" (click)="menu.toggle($event)">
                        <p-avatar image="https://cdn.auth0.com/avatars/um.png" class="mr-2" shape="circle" />
                        <span class="inline-flex flex-column">
                            <span class="font-bold">{{name}}</span>
                            <span class="text-sm">{{rol}}</span>
                        </span>
                    </button>
                    <p-menu #menu [model]="logItems" [popup]="true" />
        
                }
                @else {
                    <p-button icon="pi pi-user" label="Ingresar" (onClick)="login()" ></p-button>
                }
                
              </ng-template>
        </p-menubar>
    </div>

<!--  <div class="flex align-items-center bg-primary justify-content-between font-bold text-left lg:p-1 border-round m-3 static h-full">
    <p-button icon="pi pi-bars" (onClick)="toggleAction()"   ></p-button>
    <div>
        @if ((this.auth.isAuthenticated$ | async)) {

            <button  pRipple class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround" (click)="menu.toggle($event)">
                <p-avatar image="https://cdn.auth0.com/avatars/um.png" class="mr-2" shape="circle" />
                <span class="inline-flex flex-column">
                    <span class="font-bold">{{name}}</span>
                    <span class="text-sm">{{rol}}</span>
                </span>
            </button>
            <p-menu #menu [model]="logItems" [popup]="true" />

        }
        @else {
            <p-button icon="pi pi-user" label="Ingresar" (onClick)="login()" ></p-button>
        }
    </div>
 </div>

 <p-sidebar [(visible)]="toggle" (onHide)="onHide()" closeOnEscape="true">
    <sidebar></sidebar>
</p-sidebar> -->

<p-sidebar [(visible)]="toggle" (onHide)="onHide()" closeOnEscape="true">
    <sidebar></sidebar>
</p-sidebar>