<div class="shadow-8">
    <p-menubar>
        <ng-template pTemplate="start">
            <button class="p-button p-button-rounded p-button-text not-sr-only lg:sr-only" (click)="toggleAction()">
                <i class="pi pi-bars"></i>
            </button>

        </ng-template>
        <ng-template pTemplate="end">
            @if ((this.auth.isAuthenticated$ | async)) {

            <p-button (click)="menu.toggle($event)" rounded="true" [outlined]="true">
                <p-avatar image="https://cdn.auth0.com/avatars/um.png" class="mr-2" shape="circle" />
                <div class="flex flex-col">
                    <div>
                        <strong class="text-xs">{{name}}</strong>
                    </div>
                    <div>
                        <span class="text-xs">{{rol}}</span>
                    </div>
                </div>
            </p-button>
            <p-menu #menu [model]="logItems" [popup]="true" />
            }
            @else {
            <p-button icon="pi pi-user" label="Ingresar" [rounded]="true" (onClick)="login()"></p-button>
            }

        </ng-template>
    </p-menubar>
</div>


<p-sidebar [(visible)]="toggle" (onHide)="onHide()" closeOnEscape="true">
    <sidebar></sidebar>
</p-sidebar>