<div class="flex flex-row justify-center align-items-center">
    <h3 class="text-xl text-center font-bold text-white pb-2">{{title}}</h3>
</div>

<div class="grid place-items-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-12 gap-4 w-full max-w-screen-lg">

        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label for="descripcion" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Descripcion:</label>
            <input id="descripcion" pInputText formControlName="descripcion" type="text"
                class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full h-[50px]">
            @if(form.get('descripcion')?.invalid && form.get('descripcion')?.dirty){
            <small class="p-error block text-red-600">
                El campo descripcion es requerido
            </small>
            }
        </div>

        
        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label for="hsSemanales" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Horas semanales:</label>
            <p-inputNumber inputSize="4" size="large" inputId="integeronly" formControlName="hsSemanales"
                styleClass="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full" inputStyleClass="h-[50px]" />
            @if(form.get('hsSemanales')?.invalid && form.get('hsSemanales')?.dirty){
            <small class="p-error block text-red-600">
                El campo horas semanales es requerido
            </small>
            }
        </div>
        
        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label for="hsTotales" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Horas totales:</label>
            <p-inputNumber inputId="integeronly" size="large" formControlName="hsTotales"
                styleClass="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full" inputStyleClass="h-[50px]" />

            @if(form.get('hsTotales')?.invalid && form.get('hsTotales')?.dirty){
            <small class="p-error block text-red-600">
                El campo horas totales es requerido
            </small>
            }
        </div>

        <div class="col-span-12 lg:col-start-4 lg:col-span-6 grid grid-cols-2 gap-2 mt-4">
            <p-button type="submit" label="Guardar" icon="pi pi-check" severity="success"
                [styleClass]="'text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl px-4 py-3 sm:px-5 sm:py-3 md:px-6 md:py-3 lg:px-6 lg:py-3 w-full'"
                [disabled]="form.invalid"></p-button>
            <p-button label="Cancelar" icon="pi pi-times" severity="danger"
                [styleClass]="'text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl px-4 py-3 sm:px-5 sm:py-3 md:px-6 md:py-3 lg:px-6 lg:py-3 w-full'"
                (onClick)="redirectPlanMaterias()"></p-button>
        </div>
    </form>
</div>