
<div class="flex justify-content-center align-items-center">
    <h3>{{title}}</h3>
  </div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex overflow-hidden justify-content-center">
        <div class="col-12 lg:col-4">
            <div class="field">
                <label for="descripcion" class="lg:text-sm">Descripcion:</label>
                <input id="descripcion"  pInputText formControlName="descripcion" type="text" class="text-lg p-2 md:text-xs p-1 2xl:text-lg p-1 3xl:text-xl p-1 w-full">
                @if(form.get('descripcion')?.invalid && form.get('descripcion')?.dirty){
                <small class="p-error block">
                    El campo descripción es requerido
                </small>
                }
            </div>
        </div>
    </div>

    <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
        <button type="submit" size="small" pButton label="Guardar" icon="pi pi-check" class="p-button-success mr-2" [disabled]="form.invalid"></button>
        <p-button size="small" label="Cancelar" severity="danger" icon="pi pi-times" (onClick)="redirectEspecialidades()"></p-button>
    </div>
</form>