
<div class="flex flex-row justify-center align-items-center">
    <h4 class="text-xl text-center font-bold text-white pb-2">{{title}}</h4>
  </div>
<div class="grid place-items-center">
  <form  [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-12 gap-4 w-full max-w-screen-lg">
 
            <div class="col-span-12 lg:col-start-4 lg:col-span-6">

                    <label for="descripcion" class="text-sm lg:text-xl">Descripción</label>
                    <input id="descripcion" pInputText formControlName="descripcion" type="text" class="text-2xl p-1 sm:text-xs p-1 md:text-xs p-1 lg:text-xs p-1 xl:text-2xl p-1 w-full">
                    @if(form.get('descripcion')?.invalid && form.get('descripcion')?.dirty){
                    <small class="p-error block">
                        El campo nombre es requerido
                    </small>
                    }
    
            </div>
   

    <div class="col-span-12 lg:col-start-4 lg:col-span-6 flex justify-center">
        <p-button label="Guardar" type="submit" severity="success" icon="pi pi-check" class="text-sm lg:text-2xl mr-2 w-full" styleClass="w-full" [disabled]="form.invalid"></p-button>
        <p-button label="Cancelar" severity="danger" icon="pi pi-times" class="text-sm lg:text-2xl w-full" styleClass="w-full" (onClick)="redirectEspecialidades()"></p-button>
    </div>
</form>

</div>






