<div class="flex flex-row justify-center align-items-center">
    <h3 class="text-xl text-center font-bold text-white pb-2">{{title}}</h3>
</div>
<div class="grid place-items-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-12 gap-1 w-full max-w-screen-lg">
        <div class="col-span-12 lg:col-span-6">
            <label for="nombre" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Nombre:</label>
            <input id="nombre" pInputText formControlName="nombre" type="text" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full h-[50px]">
            @if(form.get('nombre')?.invalid && form.get('nombre')?.dirty){
            <small class="p-error block">
                El campo nombre es requerido
            </small>
            }
        </div>
        <div class="col-span-12 lg:col-span-6">
            <label for="apellido" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Apellido:</label>
            <input id="apellido" pInputText formControlName="apellido" type="text" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full h-[50px]">
            @if(form.get('apellido')?.invalid && form.get('apellido')?.dirty){
            <small class="p-error block">
                El campo apellido es requerido
            </small>
            }
        </div>
        <div class="col-span-12 lg:col-span-6">
            <label for="direccion" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Dirección:</label>
            <input id="direccion" pInputText formControlName="direccion" type="text"
                class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full h-[50px]">
            @if(form.get('direccion')?.invalid && form.get('direccion')?.dirty){
            <small class="p-error block">
                El campo dirección es requerido
            </small>
            }
        </div>
        <div class="col-span-12 lg:col-span-6">
            <label for="email" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Email:</label>
            <input id="email" pInputText formControlName="email" type="text" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full h-[50px]">
            @if(form.get('email')?.invalid && form.get('email')?.dirty){
            <small class="p-error block">
                El campo email es requerido
            </small>
            }
        </div>

        <div class="col-span-12 lg:col-span-6">
            <label for="telefono" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Teléfono:</label>
            <input id="telefono" pInputText formControlName="telefono" type="text" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full h-[50px]">
            @if(form.get('telefono')?.invalid && form.get('telefono')?.dirty){
            <small class="p-error block">
                El campo teléfono es requerido
            </small>
            }
        </div>
        <div class="col-span-12 lg:col-span-6">
            <label for="fechaNacimiento" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Fecha nacimiento:</label>
            <p-inputMask mask="99/99/9999" placeholder="dd/mm/aaaa" slotChar="dd/mm/aaaa"
                styleClass="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full" inputStyleClass="h-[50px]" formControlName="fechaNacimiento" />
            @if(form.get('fechaNacimiento')?.invalid && form.get('fechaNacimiento')?.dirty){
            <small class="p-error block">
                El campo fecha nacimiento es requerido
            </small>

            }
        </div>
        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Plan:</label>

            <input type="text" pInputText placeholder="Seleccione un plan"
                class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl form-disabled w-full h-[50px]"
                formControlName="planDescription" readonly style="cursor: not-allowed;" />
            <p-button label="Seleccionar plan" severity="primary"
                [styleClass]="'text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl px-4 py-3 sm:px-5 sm:py-3 md:px-6 md:py-3 lg:px-6 lg:py-3 w-full mt-2'"
                (onClick)="toggleModalPlanes()"></p-button>


        </div>


        <div class="col-span-12 lg:col-start-4 lg:col-span-6 grid grid-cols-2 gap-2 mt-4">
            <p-button type="submit" label="Guardar" icon="pi pi-check" severity="success"
                [styleClass]="'text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl px-4 py-3 sm:px-5 sm:py-3 md:px-6 md:py-3 lg:px-6 lg:py-3 w-full'"
                [disabled]="form.invalid"></p-button>
            <p-button type="button" label="Cancelar" icon="pi pi-times" severity="danger"
                [styleClass]="'text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl px-4 py-3 sm:px-5 sm:py-3 md:px-6 md:py-3 lg:px-6 lg:py-3 w-full'"
                (click)="redirectPersona()"></p-button>
        </div>
    </form>
</div>
<app-planes-modal></app-planes-modal>