<div class="flex justify-content-center align-items-center">
    <h3 class="pt-0 pb-0 mb-0 mt-0">{{title}}</h3>
</div>
<div class="grid place-items-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-12 gap-4 w-full max-w-screen-lg">
        <div class="col-span-12 lg:col-span-6">

            <label for="nombre" class="text-sm lg:text-xl">Nombre:</label>
            <input id="nombre" pInputText formControlName="nombre" type="text" class="text-sm lg:text-xl w-full">
            @if(form.get('nombre')?.invalid && form.get('nombre')?.dirty){
            <small class="p-error block">
                El campo nombre es requerido
            </small>
            }
        </div>
        <div class="col-span-12 lg:col-span-6">

            <label for="apellido" class="text-sm lg:text-xl">Apellido:</label>
            <input id="apellido" pInputText formControlName="apellido" type="text" class="text-sm lg:text-xl w-full">
            @if(form.get('apellido')?.invalid && form.get('apellido')?.dirty){
            <small class="p-error block">
                El campo apellido es requerido
            </small>
            }
        </div>
        <div class="col-span-12 lg:col-span-6">
            <label for="direccion" class="text-sm lg:text-xl">Dirección:</label>
            <input id="direccion" pInputText formControlName="direccion" type="text"
                class="text-sm lg:text-xl w-full">
            @if(form.get('direccion')?.invalid && form.get('direccion')?.dirty){
            <small class="p-error block">
                El campo dirección es requerido
            </small>
            }
        </div>
        <div class="col-span-12 lg:col-span-6">
            <label for="email" class="text-sm lg:text-xl">Email:</label>
            <input id="email" pInputText formControlName="email" type="text" class="text-sm lg:text-xl w-full">
            @if(form.get('email')?.invalid && form.get('email')?.dirty){
            <small class="p-error block">
                El campo email es requerido
            </small>
            }
        </div>

        <div class="col-span-12 lg:col-span-6">
            <label for="telefono" class="text-sm lg:text-xl">Teléfono:</label>
            <input id="telefono" pInputText formControlName="telefono" type="text" class="text-sm lg:text-xl w-full">
            @if(form.get('telefono')?.invalid && form.get('telefono')?.dirty){
            <small class="p-error block">
                El campo teléfono es requerido
            </small>
            }
        </div>
        <div class="col-span-12 lg:col-span-6">
            <label for="fechaNacimiento" class="text-sm lg:text-xl">Fecha nacimiento:</label>
            <p-inputMask mask="99/99/9999" placeholder="dd/mm/aaaa" slotChar="dd/mm/aaaa"
                styleClass="text-sm lg:text-xl w-full" formControlName="fechaNacimiento" />
            @if(form.get('fechaNacimiento')?.invalid && form.get('fechaNacimiento')?.dirty){
            <small class="p-error block">
                El campo fecha nacimiento es requerido
            </small>

            }
        </div>
        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label class="text-sm lg:text-xl">Plan:</label>

            <input type="text" pInputText placeholder="Seleccione un plan"
                class="text-sm lg:text-xl  form-disabled w-full w-full"
                formControlName="planDescription" readonly style="cursor: not-allowed;" />
            <p-button label="Seleccionar plan"  severity="primary"
                styleClass="text-sm lg:text-xl  w-full mt-2"
                (onClick)="toggleModalPlanes()"></p-button>


        </div>


        <div class="col-span-12 lg:col-start-4 lg:col-span-6 flex justify-center">
            <p-button type="submit" label="Guardar" icon="pi pi-check" severity="success" class="w-full mr-2"
                styleClass="w-full" [disabled]="form.invalid"></p-button>
            <p-button type="button" label="Cancelar" icon="pi pi-times" class="w-full" styleClass="w-full"
                severity="danger" (click)="redirectPersona()"></p-button>
        </div>
    </form>
</div>
<app-planes-modal></app-planes-modal>