<div class="">
    <navbar></navbar>
    <div class="grid" >

   
        <div class="col-12 sm:col-12 md:col-12 lg:col-2 hidden lg:block app-height">
            <sidebar></sidebar>
         </div>
         <div class="overflow-y-scroll col-12 sm:col-12 md:col-12 lg:col-10 lg:app-height" >
            <router-outlet></router-outlet>
         </div>
    </div>
</div>



<!-- <div class="overflow-hidden" style="height:calc(100vh - 2rem);">
    <div class="relative bg-primary border-round border-1 border-primary-500" style="height:calc(100vh - 2rem);">
        <div class="absolute top-0 left-0 px-4 py-3 w-full font-bold">
            Fixed
        </div>
        <navbar></navbar>
        <div class="grid">
            <div class="col-12 sm:col-12 md:col-12 lg:col-2 hidden lg:block ">
                <sidebar></sidebar>
             </div>
             <div class="col-12 sm:col-12 md:col-12 lg:col-10" style="height:calc(100vh - 5rem);" >
                <router-outlet></router-outlet>
            </div>
         </div>
    </div>

</div>
 -->

<!-- <div class="grid" >

   
    <div class="col-12 sm:col-12 md:col-12 lg:col-2 hidden lg:block " style="height:calc(100vh - 5rem);">
        <sidebar></sidebar>
     </div>
 
 
 
 
 </div> -->