

@if (error$ | async) 
{
    <p-messages  severity="error">
        <ng-template pTemplate>
    
            <div class="ml-2">{{(errorMessage$ | async)}}</div>
        </ng-template>
    </p-messages>

}
<p-panel header="Especialidades" styleClass="h-full pt-0">
    <p-table  
    [value]="(especialidades$ | async)!" 
    [loading]="(loading$ | async)" 
    styleClass="p-datatable-gridlines p-datatable-striped" 
    responsiveLayout="stack" 
    styleClass="h-full pt-0"
    [breakpoint]="'960px'"
    [paginator]="true"
    [scrollable]="true" 
    scrollHeight="calc(100vh - 400px)"
    [rows]="5">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center lg:justify-content-end justify-content-center">
                <p-button label="Nueva especialidad" severity="primary" (onClick)="redirectNewEspecialidad()"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th class="text-center">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-especialidad>
            <tr>
                <td style="width:85%"><span class="p-column-title">Nombre especialidad</span>{{especialidad.descripcion}}</td>
                <td style="width:15%"><span  class="p-column-title">Acciones</span>
                    <div class="flex gap-2 justify-content-center">
                        <p-button size="small" label="Editar" severity="primary" class="mr-20" (onClick)="redirectEditEspecialidad(especialidad._id)" />
                        <p-button size="small" label="Borrar" severity="danger"  (onClick)="showModal(especialidad)"/>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>


<especialidad-borrar-modal [especialidad]="especialidad"></especialidad-borrar-modal>