<p-card #crd styleClass="h-full">
  <ng-template pTemplate="header">
    <div>
      <h2 class="text-3xl text-center font-bold text-white pb-2">Especialidades</h2>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <router-outlet></router-outlet>
  </ng-template>
</p-card>

<div #crd class="relative">
  <div class="bg-white rounded shadow">

  </div>

  <p-blockUI [target]="crd" [blocked]="(loading$ | async)">
    <div class="absolute inset-0 flex flex-col items-center justify-center">
      <p-progress-spinner ariaLabel="loading" />
      <p class="text-gray-700 text-base text-center">
        Un momento, estamos procesando tu solicitud...
      </p>
    </div>

  </p-blockUI>
</div>