<p-card #crd styleClass="h-full">
    <ng-template pTemplate="header">
        <div class="flex p-0 m-0 gap-0 justify-content-center align-items-center">
          <h2>Parametros</h2>
        </div>
      </ng-template>
    <ng-template pTemplate="content" class="pt-0">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="flex overflow-hidden justify-content-center">
                <div class="col-12 lg:col-4">
                    <div class="field">
                        <label for="descripcion">Habilitar inscripciones:</label>

                        <div class="card flex justify-center">
                            <p-toggleswitch formControlName="habilitarInscripciones" class="w-full" />
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                <button type="submit" pButton label="Guardar" icon="pi pi-check" class="p-button-success mr-2" [disabled]="form.invalid"></button>
                <p-button label="Cancelar" severity="danger" icon="pi pi-times" (onClick)="redirectHome()"></p-button>
            </div>
        </form>
    </ng-template>
 </p-card>
 
 <app-block-ui-general [target]="crd"></app-block-ui-general>