

<p-table #dt2 [value]="cursos" [loading]="loading$" [loadingIcon]="''" responsiveLayout="stack" [breakpoint]="'960px'"
    [paginator]="true" [scrollable]="true" [rows]="5" scrollHeight="flex"
    styleClass="p-datatable-gridlines p-datatable-striped h-full pt-0 text-sm lg:text-xl"
    [globalFilterFields]="['descripcion, especialidad.descripcion']">
    <ng-template pTemplate="caption">
        <div class="grid grid-cols-12 gap-2 w-full">
            <div class="col-span-12 md:col-span-3 md:col-start-5">
                <label class="block text-xs sm:text-sm md:text-base font-medium text-white mb-2">&nbsp;</label>
                <p-button label="Volver a materias disponibles" severity="primary"
                    class="text-xs sm:text-sm md:text-base lg:text-base xl:text-base w-full lg:w-auto"
                    styleClass="w-full lg:w-auto px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2"
                    (click)="redirectMateriasDisponibles()"></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Curso</th>
            <th class="text-center">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-curso>
        <tr>
            <td style="width:70%"><span class="p-column-title">Catedra</span>{{curso.descripcion}}</td>
            <td style="width:30%"><span class="p-column-title">Acciones</span>
                <div class="flex flex-column sm:flex-row gap-2 justify-center">
                    <p-button class="text-sm lg:text-xl" label="Inscribirse" severity="primary"
                        (onClick)="modalConfirmar(curso)"></p-button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        @if(loading$){
        <tr>
            <td class="text-center text-md sm:text-base md:text-base lg:text-base xl:text-base" colspan="2">Cargando cursos disponibles...</td>
        </tr>
        }
        @else if ((cursos$ | async)!.length === 0) {
        <tr>
            <td class="text-center" colspan="2">No hay cursos disponibles para esta cátedra</td>
        </tr>
        }
        @else {
        <tr>
            <td class="text-center" colspan="2">No se encontraron cursos con el filtro aplicado</td>
        </tr>
        }
    </ng-template>
</p-table>

<p-confirmDialog #cd>
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-col items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
    <ng-template pTemplate="footer" let-reject="reject">
        <button type="button" pButton icon="pi pi-check" severity="success" label="Aceptar" (click)="cd.onAccept()"
            class="ui-button-success"></button>
        <button type="button" pButton icon="pi pi-times" severity="danger" label="Cancelar" (click)="cd.onReject()"
            class="ui-button-secondary"></button>
    </ng-template>
</p-confirmDialog>