<p-table #dt2 [value]="cursos" responsiveLayout="stack" [breakpoint]="'960px'" [paginator]="true" [scrollable]="true"
    [rows]="5" scrollHeight="flex" styleClass="p-datatable-gridlines p-datatable-striped h-full pt-0 text-sm lg:text-xl"
    [loading]="loading$"
    [globalFilterFields]="['descripcion, especialidad.descripcion']">
    <ng-template pTemplate="caption">
        <div class="grid">
            <div class="flex flex-col w-full gap-2 md:flex-row justify-between">
                <div>
                    {{(persona$ | async)!.plan.descripcion}}
                </div>
                <div>
                    <p-iconField iconPosition="left" class="mb-4 lg:mb-0 w-full">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText pSize="large" type="text" class="text-xs sm:text-sm md:text-base lg:text-base xl:text-base w-full h-[50px]"
                            (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Buscar plan" />
                    </p-iconField>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Catedra</th>
            <th>Comisión</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asignacion>
        <tr>
            <td style="width:40%"><span class="p-column-title">Catedra</span>{{asignacion.curso.materia.descripcion}}
            </td>
            <td style="width:40%"><span class="p-column-title">Comisión</span>{{asignacion.curso.comision.descripcion}}
            </td>
            <td style="width:40%"><span class="p-column-title">Acciones</span>
                <div class="flex flex-column sm:flex-row gap-2 justify-content-center">
                    <p-button label="Borrar" severity="primary" label="Inscripciones"
                        (onClick)="redirectToCatedrasDocenteInscripciones(asignacion.curso._id)"></p-button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>