:host::ng-deep .p-datatable-flex-scrollable>.p-datatable-wrapper {
    @media  (min-width: 991px) {
        max-height: 50vh !important;
    }

    @media  (min-width: 992px) {
        max-height: 100% !important;
    }
}
