<p-table #dt2 [value]="planes" [loading]="(loading$ | async)" responsiveLayout="stack" [breakpoint]="'960px'"
    [paginator]="true" [scrollable]="true" [rows]="5" scrollHeight="flex" size="small"
    styleClass="p-datatable-gridlines p-datatable-striped h-full pt-0 text-xs sm:text-sm md:text-base lg:text-base xl:text-base" responsiveLayout="stack"
    [breakpoint]="'960px'" [globalFilterFields]="['descripcion, especialidad.descripcion']">
    <ng-template pTemplate="caption">
        @if (error$ | async)
{
<p-message severity="error" class="flex mb-2 w-auto" styleClass="w-full">
    {{(errorMessage$ | async)}}
</p-message>

}
        <div class="flex flex-col w-full gap-2 md:flex-row justify-between">

            <div>
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pSize="large" pInputText type="text" class="w-full text-xs sm:text-sm md:text-base lg:text-base xl:text-base py-1 sm:py-2 md:py-2 lg:py-2"
                        (input)="dt2.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar plan" />
                </p-iconField>
            </div>
                        <div>
                                 <app-especialidad-filter
                        class="h-full"
                        (selectionChange)="onEspecialidadChanged($event)">
                    </app-especialidad-filter>
            </div>
            <div>
                <p-button label="Nuevo plan" severity="info" [styleClass]="'w-full text-xs sm:text-sm md:text-base lg:text-base xl:text-base px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2'" (onClick)="redirectNuevoPlan()"></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Descripción</th>
            <th>Especialidad</th>
            <th class="text-center">Acciones</th>
        </tr>
    </ng-template>
      <ng-template pTemplate="loading">
    <div class="flex flex-col items-center justify-center p-4 text-primary">
      <i class="pi pi-spin pi-spinner text-4xl mb-2"></i>
      <span class="text-lg font-medium">Cargando datos de clientes...</span>
    </div>
  </ng-template>
    <ng-template pTemplate="body" let-plan>
        <tr>
            <td style="width:20%"><span class="p-column-title">Descripción</span>{{plan.descripcion}}</td>
            <td style="width:30%"><span class="p-column-title">Especialidad</span>{{plan.especialidad.descripcion}}</td>
            <td class="text-center" style="width:auto"><span class="p-column-title">Acciones</span>
                <div class="flex flex-col gap-2 justify-center lg:flex-row">
                    <p-button label="Generar reporte" class="text-xs sm:text-sm md:text-base lg:text-base xl:text-base w-full lg:w-auto" styleClass="w-full lg:w-auto px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2"
                        (onClick)="generateReport(plan._id)"></p-button>
                    <p-button label="Materias"
                        (onClick)="redirectToMaterias(plan._id)" styleClass="w-full lg:w-auto text-xs sm:text-sm md:text-base lg:text-base xl:text-base px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2"></p-button>
                    <p-button label="Editar" severity="warn" styleClass="text-xs sm:text-sm md:text-base lg:text-base xl:text-base w-full lg:w-auto px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2"
                        (onClick)="redirectEditarPlan(plan._id)" />
                    <p-button label="Borrar" severity="danger" styleClass="text-xs sm:text-sm md:text-base lg:text-base xl:text-base w-full lg:w-auto px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2"
                        (onClick)="modalConfirmar(plan)" />
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmDialog #cd [closable]="false">
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-col items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
    <ng-template pTemplate="footer" let-reject="reject">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" severity="success" (click)="cd.onAccept()"
            class="ui-button-success"></button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" severity="danger" (click)="cd.onReject()"
            class="ui-button-secondary"></button>
    </ng-template>
</p-confirmDialog>