<p-dialog header="Seleccionar curso" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body"
    [visible]="(showModal$ | async)!" [style]="{width: '95%'}">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <div class="sm:flex justify-content-center">
                <div class="field w-full">
                    <label>Materias:</label>
                    <app-materia-filter></app-materia-filter>
                </div>
 
            </div>
        </ng-template>

        <ng-template pTemplate="right">

        </ng-template>
    </p-toolbar>
    <p-table #table [value]="(cursos$ | async)!" [scrollable]="true" scrollHeight="flex"
        styleClass="p-datatable-gridlines p-datatable-striped" responsiveLayout="stack">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    Curso
                </th>
                <th class="text-center">
                    Acciones
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-curso>
            <tr>
                <td style="width:45%"><span class="p-column-title">Curso</span>{{curso.descripcion}}</td>
                <td style="width:10%" class="text-center" style="width:20%"><span
                        class="p-column-title">Acciones</span><p-button size="small" label="Seleccionar"
                        severity="primary" (onClick)="selectCurso(curso)"></p-button></td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" (click)="toggleOffModal()" label="Salir"
            class="p-button-danger">
        </button>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        @if((cursos$ | async)!){
            @if ((cursos$ | async)!.length === 0) {
                <tr>
                    <td class="text-center" colspan="2">No se han registrado cursos para esta materia</td>
                </tr>
                }
                @else {
                <tr>
                    <td class="text-center" colspan="2">No se encontraron cursos con el filtro aplicado</td>
                </tr>
                }
        }

    </ng-template>
</p-dialog>