<p-table #dt2 [value]="profesores"
    styleClass="p-datatable-gridlines p-datatable-striped h-full pt-0 text-md sm:text-base md:text-base lg:text-base xl:text-base"
    responsiveLayout="stack" [breakpoint]="'960px'" [paginator]="true" size="small" [scrollable]="true"
    [rows]="rowsPerPage" [scrollHeight]="scrollSize"
    [globalFilterFields]="['nombre', 'apellido','direccion', 'email','legajo']">
    <ng-template pTemplate="caption">
        @if (error$ | async)
        {
        <p-message severity="error">
            {{(errorMessage$ | async)}}
        </p-message>

        }
        <div class="grid grid-cols-12 gap-2 w-full">
            <div class="col-span-12 md:col-span-3 md:col-start-6 order-1 md:order-1">
                <label class="block text-xs sm:text-sm md:text-base font-medium mb-2">&nbsp;</label>
                <p-button label="Nuevo profesor" severity="info"
                    class="text-xs sm:text-sm md:text-base lg:text-base xl:text-base w-full lg:w-auto"
                    styleClass="w-full lg:w-auto px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2"
                    (onClick)="redirecToNuevoProfesor()">
                </p-button>
            </div>
            <div class="col-span-12 md:col-span-4 md:col-start-9 order-2 md:order-2">
                <label class="block text-xs sm:text-sm md:text-base font-medium mb-2">Búsqueda:</label>
                <p-iconField iconPosition="left" class="w-full">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText pSize="large" type="text"
                        class="text-md sm:text-base md:text-base lg:text-base xl:text-base w-full h-[50px]"
                        (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar profesor" />
                </p-iconField>
            </div>
        </div>

        <div class="col-span-12 lg:hidden mb-2">
            <label class="block text-xs sm:text-sm md:text-base font-medium mb-2">Seleccionar columna:</label>
            <app-mobile-sort-select [sortOptions]="sortOptions" [table]="dt2"></app-mobile-sort-select>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="legajo" pRipple>Legajo <p-sortIcon field="legajo"></p-sortIcon></th>
            <th pSortableColumn="nombre" pRipple>Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="apellido" pRipple>Apellido <p-sortIcon field="apellido"></p-sortIcon></th>
            <th pSortableColumn="email" pRipple>Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="plan" pRipple>Plan <p-sortIcon field="plan"></p-sortIcon></th>
            <th class="text-center">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-profesor>
        <tr>
            <td><span class="p-column-title">Legajo</span>{{profesor.legajo}}</td>
            <td><span class="p-column-title">Nombre</span>{{profesor.nombre}}</td>
            <td><span class="p-column-title">Apellido</span>{{profesor.apellido}}</td>
            <td><span class="p-column-title">Email</span>{{profesor.email}}</td>
            <td><span class="p-column-title">Plan</span>{{profesor.plan.descripcion}}</td>
            <td><span class="p-column-title">Acciones</span>
                <div class="flex flex-col gap-2 justify-center lg:flex-row">
                    <p-button label="Ver Info" severity="info" (onClick)="showProfesorInfo(profesor)"
                        class="text-nowrap text-xs sm:text-sm md:text-base lg:text-base xl:text-base w-full lg:w-auto"
                        styleClass="w-full lg:w-auto px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2"></p-button>
                    <p-button label="Editar" severity="warn"
                        class="text-nowrap text-xs sm:text-sm md:text-base lg:text-base xl:text-base w-full lg:w-auto"
                        styleClass="w-full lg:w-auto px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2"
                        (onClick)="redirectToEditarProfesor(profesor._id)"></p-button>
                    <p-button label="Borrar"
                        severity="danger"
                        class="text-nowrap text-xs sm:text-sm md:text-base lg:text-base xl:text-base w-full lg:w-auto"
                        styleClass="w-full lg:w-auto px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2"
                        (onClick)="modalConfirmar(profesor)" />
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        @if(loading$ | async) {
        <tr>
            <td class="text-center text-md sm:text-base md:text-base lg:text-base xl:text-base" colspan="6">Cargando profesores...</td>
        </tr>
        }
        @else if ((profesores$ | async)!.length === 0) {
        <tr>
            <td class="text-center text-sm lg:text-xl" colspan="6">No se han registrado profesores</td>
        </tr>
        }
        @else {
        <tr>
            <td class="text-center text-sm lg:text-xl" colspan="6">No se encontraron profesores con el filtro aplicado
            </td>
        </tr>
        }
    </ng-template>
</p-table>

<p-dialog [(visible)]="displayProfesorInfo" [modal]="true" [style]="{width: '50vw'}"
    [breakpoints]="{'960px': '75vw', '640px': '95vw'}" header="Información del Profesor" [draggable]="false"
    [resizable]="false">
    <div class="flex flex-col gap-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex flex-col gap-2">
                <label class="font-semibold text-sm">Legajo:</label>
                <span class="text-color-secondary">{{selectedProfesor?.legajo}}</span>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-semibold text-sm">Email:</label>
                <span class="text-color-secondary">{{selectedProfesor?.email}}</span>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-semibold text-sm">Nombre:</label>
                <span class="text-color-secondary">{{selectedProfesor?.nombre}}</span>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-semibold text-sm">Apellido:</label>
                <span class="text-color-secondary">{{selectedProfesor?.apellido}}</span>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-semibold text-sm">Dirección:</label>
                <span class="text-color-secondary">{{selectedProfesor?.direccion}}</span>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-semibold text-sm">Teléfono:</label>
                <span class="text-color-secondary">{{selectedProfesor?.telefono}}</span>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-semibold text-sm">Fecha de Nacimiento:</label>
                <span class="text-color-secondary">{{selectedProfesor?.fechaNacimiento | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-semibold text-sm">Plan:</label>
                <span class="text-color-secondary">{{selectedProfesor?.plan?.descripcion}}</span>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button label="Cerrar" severity="secondary" (onClick)="displayProfesorInfo = false"
            styleClass="text-sm"></p-button>
    </ng-template>
</p-dialog>

<p-confirmDialog #cd [closable]="false">
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-col items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
    <ng-template pTemplate="footer" let-reject="reject">
        <div class="flex gap-2 justify-center">
            <p-button icon="pi pi-check" label="Aceptar" severity="success"
                class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl"
                styleClass="px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2" (click)="cd.onAccept()"></p-button>
            <p-button icon="pi pi-times" label="Cancelar" severity="danger"
                class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl"
                styleClass="px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2" (click)="cd.onReject()"></p-button>
        </div>

    </ng-template>
</p-confirmDialog>