<p-dialog header="Seleccionar comision" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body"
    [visible]="(showModal$ | async)!" [style]="{width: '95%', height: '100vh', top: '0'}" [contentStyle]="{height: 'calc(100vh - 150px)'}">
    <p-table #table [value]="comisiones" [scrollable]="true" scrollHeight="flex"
        styleClass="p-datatable-gridlines p-datatable-striped" responsiveLayout="stack">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    Comisión
                </th>
                <th class="text-center">
                    Acciones
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-comision>
            <tr>
                <td style="width:45%"><span class="p-column-title">Comisión</span>{{comision.descripcion}}</td>
                <td style="width:10%" class="text-center" style="width:20%"><span
                        class="p-column-title">Acciones</span><p-button size="small" label="Seleccionar"
                        severity="primary" (onClick)="selectComision(comision)"></p-button></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            @if(comisiones){
                @if (comisiones.length === 0) {
                    <tr>
                        <td class="text-center" colspan="8">No se han registrado comisiones para esta materia</td>
                    </tr>
                    }
                    @else {
                    <tr>
                        <td class="text-center" colspan="8">No se encontraron comisiones con el filtro aplicado</td>
                    </tr>
                    }
            }

        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" (click)="toggleOffModal()" label="Salir"
            class="p-button-danger">
        </button>
    </ng-template>
</p-dialog>