<div class="flex flex-row justify-center align-items-center">
    <h3 class="text-xl text-center font-bold text-white pb-2">{{title}}</h3>
</div>
<div class="grid place-items-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-12 gap-4 w-full max-w-screen-lg">
        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Curso:</label>
            <input type="text" pInputText placeholder="Curso" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full h-[50px]" formControlName="curso" readonly style="cursor: not-allowed;" />
        </div>

        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Profesor:</label>
            <input type="text" pInputText placeholder="Seleccione un profesor" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full h-[50px]"
                formControlName="profesor" readonly style="cursor: not-allowed;" />
            <p-button label="Seleccionar profesor" severity="primary" [styleClass]="'text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl px-4 py-3 sm:px-5 sm:py-3 md:px-6 md:py-3 lg:px-6 lg:py-3 w-full mt-2'" (onClick)="modalProfesores()"></p-button>
        </div>

        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Cargo:</label>
            <p-dropdown formControlName="cargo" appendTo="body" [options]="cargos" placeholder="Seleccionar cargo"
                styleClass="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full" />
        </div>

        <div class="col-span-12 lg:col-start-4 lg:col-span-6 grid grid-cols-2 gap-2 mt-4">
            <p-button label="Guardar" icon="pi pi-check" [styleClass]="'text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl px-4 py-3 sm:px-5 sm:py-3 md:px-6 md:py-3 lg:px-6 lg:py-3 w-full'" [disabled]="form.invalid" severity="success" (onClick)="onSubmit()"></p-button>
            <p-button label="Cancelar" severity="danger" icon="pi pi-times" [styleClass]="'text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl px-4 py-3 sm:px-5 sm:py-3 md:px-6 md:py-3 lg:px-6 lg:py-3 w-full'"
                (onClick)="redirectDocenteCursos()"></p-button>
        </div>
    </form>
</div>

@if((curso$ | async)){
<app-docente-modal [cursoId]="curso._id" [planId]="curso!.materia!.plan"></app-docente-modal>
}