<div class="flex flex-row justify-center align-items-center">
    <h4 class="text-xl text-center font-bold text-white pb-2">{{title}}</h4>
</div>
<div class="grid place-items-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-12 gap-4 w-full max-w-screen-lg">
        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label class="text-sm lg:text-xl">Curso:</label>
            <input type="text" pInputText placeholder="Curso" class="text-sm lg:text-xl w-full" formControlName="curso" readonly style="cursor: not-allowed;" />
        </div>

        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label class="text-sm lg:text-xl">Profesor:</label>
            <input type="text" pInputText placeholder="Seleccione un profesor" class="text-sm lg:text-xl w-full"
                formControlName="profesor" readonly style="cursor: not-allowed;" />
            <p-button label="Seleccionar profesor" severity="primary" class="text-sm lg:text-2xl" (onClick)="modalProfesores()"
                styleClass="w-full mt-2"></p-button>
        </div>

        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label class="text-sm lg:text-xl">Cargo:</label>
            <p-dropdown formControlName="cargo" appendTo="body" [options]="cargos" placeholder="Seleccionar cargo"
                styleClass="text-sm lg:text-xl w-full" />
        </div>

        <div class="col-span-12 lg:col-start-4 lg:col-span-6 flex justify-center gap-2">
            <p-button label="Guardar" icon="pi pi-check" class="text-sm lg:text-2xl w-full" styleClass="w-full" [disabled]="form.invalid" severity="success" (onClick)="onSubmit()"></p-button>
            <p-button label="Cancelar" severity="danger" icon="pi pi-times" class="text-sm lg:text-2xl w-full" styleClass="w-full"
                (onClick)="redirectDocenteCursos()"></p-button>
        </div>
    </form>
</div>

@if((curso$ | async)){
<app-docente-modal [cursoId]="curso._id" [planId]="curso!.materia!.plan"></app-docente-modal>
}