:host::ng-deep .p-datatable {
    display: flex !important;
    flex-direction: column !important;
}

@media (max-width: 640px) {
    :host::ng-deep .p-datatable {
        height: 75vh !important;
    }
}

@media (min-width: 640px) {
    :host::ng-deep .p-datatable {
        height: 75vh !important;
    }
}

@media (min-width: 768px) {
    :host::ng-deep .p-datatable {
        height: 75vh !important;
    }
}

@media (min-width: 1024px) {
    :host::ng-deep .p-datatable {
        max-height: calc(100dvh - 130px) !important;
        height: auto !important;
    }
}

@media (min-width: 1440px) {
    :host::ng-deep .p-datatable {
        max-height: calc(100vh - 300px) !important;
        height: auto !important;
    }
}

:host::ng-deep .p-datatable .p-datatable-header {
    flex-shrink: 0 !important;
}

:host::ng-deep .p-datatable .p-datatable-wrapper {
    flex: 1 1 auto !important;
    overflow: auto !important;
    min-height: 0 !important;
}

:host::ng-deep .p-datatable .p-datatable-thead {
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
}

:host::ng-deep .p-datatable .p-datatable-tbody {
    min-height: 100% !important;
}

:host::ng-deep .p-datatable .p-paginator {
    flex-shrink: 0 !important;
}

:host::ng-deep .p-datatable .p-datatable-loading-icon {
    display: none !important;
}

:host::ng-deep .p-datatable-loading .p-datatable-wrapper {
    position: relative !important;
}

/* Keep loading row fixed just below headers, overlaying grey body area */
:host::ng-deep .p-datatable-loading .p-datatable-tbody {
    position: relative !important;
}

:host::ng-deep .p-datatable-loading .p-datatable-tbody>tr:first-child {
    position: sticky !important;
    top: 0 !important;
    /* sticks right under sticky header */
    z-index: 5 !important;
    /* above rows, below header */
    background: var(--surface-ground, #111827) !important;
    /* match grey area */
    border: none !important;
}

:host::ng-deep .p-datatable-loading .p-datatable-tbody>tr:first-child td {
    border: none !important;
    padding: 0 !important;
}