
<p-card [header]="title" styleClass="h-full">

    <ng-template pTemplate="content">
        
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="flex overflow-hidden justify-content-center">
                <div class="col-12 lg:col-4">

                    <div class="field">
                        <label for="nombreUsuario">Usuario:</label>
                        <input id="nombreUsuario" pInputText formControlName="nombreUsuario" type="text" class="w-full">
                        @if(form.get('nombreUsuario')?.invalid && form.get('nombreUsuario')?.dirty){
                        <small class="p-error block">
                            El campo Usuario es requerido
                        </small>
                        }
                    </div>
                    <div class="field">
                        <label for="nombreYapellido">Nombre y apellido:</label>
                        <input id="nombreYapellido" pInputText formControlName="nombreYapellido" type="text" class="w-full">
                        @if(form.get('descripcion')?.invalid && form.get('nombreYapellido')?.dirty){
                        <small class="p-error block">
                            El campo Nombre y Apellido es requerido
                        </small>
                        }
                    </div>
                    <div class="field">
                        <label for="email">Email:</label>
                        <input id="email" pInputText formControlName="email" type="text" class="w-full">
                        @if(form.get('email')?.invalid && form.get('email')?.dirty){
                        <small class="p-error block">
                            El campo Email es requerido
                        </small>
                        }
                    </div>
                    <div class="field">
                        <label for="nombreYapellido">Clave:</label>
                        <p-password formControlName="clave" [feedback]="false" class="w-full" styleClass="w-full" />
                        @if(form.get('descripcion')?.invalid && form.get('clave')?.dirty){
                        <small class="p-error block">
                            El campo clave es requerido
                        </small>
                        }
                    </div>
                    <div class="field">
                        <label for="rol">Rol:</label>
                        <p-select formControlName="role" [options]="roles" optionLabel="name" optionValue="code" appendTo="body" placeholder="Seleccionar role" class="w-full md:w-56" />
                    </div>
                    <div class="field">
                        <label>Plan:</label>
                        <div class="field grid">
                            <div class="col-12 sm:col-12 lg:col-7">
                                <input type="text" pInputText placeholder="Seleccione una persona" class="w-full sm:w-full"
                                    formControlName="persona" />
                            </div>

                            <div class="col-12 sm:col-12 lg:col-5">
                                <p-button label="Seleccionar persona" severity="primary"
                                    styleClass="w-full mt-2 sm:w-full align-items-center lg:w-full sm:mt-2 lg:mt-0 "
                                    (onClick)="toggleModalPersonas()"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                <button type="submit" pButton label="Guardar" icon="pi pi-check" class="p-button-success mr-2" [disabled]="form.invalid"></button>
                <p-button label="Cancelar" severity="danger" icon="pi pi-times" (onClick)="redirectEspecialidades()"></p-button>
            </div>
        </form>
    </ng-template>
</p-card>
<app-personas-modal></app-personas-modal>
