<div class="flex flex-row justify-center align-items-center">
    <h3 class="text-xl text-center font-bold text-white pb-2">{{title}}</h3>
</div>
<div class="grid place-items-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-12 gap-4 w-full max-w-screen-lg">
        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label for="nombreUsuario" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Usuario:</label>
            <input id="nombreUsuario" pInputText formControlName="nombreUsuario" type="text" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full h-[50px]">
            @if(form.get('nombreUsuario')?.invalid && form.get('nombreUsuario')?.dirty){
            <small class="p-error block text-red-600">
                El campo Usuario es requerido
            </small>
            }
        </div>
        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label for="nombreYapellido" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Nombre y apellido:</label>
            <input id="nombreYapellido" pInputText formControlName="nombreYapellido" type="text" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full h-[50px]">
            @if(form.get('descripcion')?.invalid && form.get('nombreYapellido')?.dirty){
            <small class="p-error block text-red-600">
                El campo Nombre y Apellido es requerido
            </small>
            }
        </div>
        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label for="email" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Email:</label>
            <input id="email" pInputText formControlName="email" type="text" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full h-[50px]">
            @if(form.get('email')?.invalid && form.get('email')?.dirty){
            <small class="p-error block text-red-600">
                El campo Email es requerido
            </small>
            }
        </div>

        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label for="role" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Rol:</label>
            <p-select id="role" name="role" formControlName="role" [options]="roles" optionLabel="name" optionValue="code" appendTo="body"
                placeholder="Seleccionar rol" styleClass="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full" />
            @if(form.get('role')?.invalid && form.get('role')?.dirty){
            <small class="p-error block text-red-600">
                El campo Rol es requerido
            </small>
            }
        </div>



        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label for="clave" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Clave:</label>
            <p-password formControlName="clave" [feedback]="false" styleClass="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl w-full" inputStyleClass="h-[50px]" />
            @if(form.get('descripcion')?.invalid && form.get('clave')?.dirty){
            <small class="p-error block text-red-600">
                El campo clave es requerido
            </small>
            }
        </div>

        <div class="col-span-12 lg:col-start-4 lg:col-span-6">
            <label class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl">Persona:</label>
            <input type="text" pInputText placeholder="Seleccione una persona" class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl form-disabled w-full h-[50px]"
                formControlName="personaDescripcion" readonly style="cursor: not-allowed;" />
            <p-button label="Seleccionar persona" severity="primary"
                [styleClass]="'text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl px-4 py-3 sm:px-5 sm:py-3 md:px-6 md:py-3 lg:px-6 lg:py-3 w-full mt-2'"
                (onClick)="toggleModalPersonas()"></p-button>
        </div>

        <div class="col-span-12 lg:col-start-4 lg:col-span-6 grid grid-cols-2 gap-2 mt-4">
            <p-button type="submit" label="Guardar" icon="pi pi-check" severity="success"
                [styleClass]="'text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl px-4 py-3 sm:px-5 sm:py-3 md:px-6 md:py-3 lg:px-6 lg:py-3 w-full'"
                [disabled]="form.invalid" (onClick)="onSubmit()"></p-button>
            <p-button label="Cancelar" icon="pi pi-times" severity="danger"
                [styleClass]="'text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl px-4 py-3 sm:px-5 sm:py-3 md:px-6 md:py-3 lg:px-6 lg:py-3 w-full'"
                (onClick)="redirectUsuarios()"></p-button>
        </div>


    </form>
</div>

@if ((modalPersonas$ | async)!) {
<app-personas-modal></app-personas-modal>
}