
    <p-select

    [options]="(especialiades$ | async)!" 
    [(ngModel)]="especialidad"
    [checkmark]="true" 
    [loading]="loading$"
    optionLabel="descripcion" 
    [showClear]="true" 
    placeholder="Seleccione una especialidad"
    emptyFilterMessage="No hay registros"
    emptyMessage="No hay registros"
    (onChange)="onChangeEspecialidad()"
    (onClear)="onClear()"
    class="text-md sm:text-base md:text-base lg:text-base xl:text-base"
    styleClass="text-md sm:text-base md:text-base lg:text-base xl:text-base w-full"
    appendTo="body" />

