<div class="flex justify-content-center pt-0 pb-0 align-items-center">
    <h3>{{title}}</h3>
</div>
<div class="grid place-items-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-12 gap-4 w-full max-w-screen-lg">
        <div class="col-span-12 grid grid-cols-12 gap-4">

            <div class="col-span-12 xl:col-span-6 2xl:col-start-4 2xl:col-span-6">

                <div class="w-full h-full">
                    <label class="text-sm 2xl:text-2xl" for="anioCalendario">Año calendario:</label>
                    <p-inputNumber inputId="integeronly" formControlName="anioCalendario" class="w-full"
                        styleClass="w-full text-sm 2xl:text-2xl" />
                    @if(form.get('anioCalendario')?.invalid && form.get('anioCalendario')?.dirty){
                    <small class="p-error block">El campo Año Calendario es requerido</small>
                    }
                </div>
            </div>
            <div class="col-span-12 xl:col-span-6 2xl:col-start-4 2xl:col-span-6">

                <div class="w-full h-full">
                    <label class="text-sm 2xl:text-2xl">Plan:</label>
                    <p-inputGroup>
                        <input type="text" pInputText placeholder="Seleccione un plan" class="text-sm 2xl:text-2xl"
                            formControlName="plan" />
                        <p-button label="Seleccionar" severity="primary" styleClass="text-sm 2xl:text-2xl"
                            (onClick)="toggleModalPlanes()">
                        </p-button>
                    </p-inputGroup>
                </div>
            </div>


            <div class="col-span-12 xl:col-span-6 2xl:col-start-4 2xl:col-span-6">

                <div class="w-full h-full">
                    <label class="text-sm 2xl:text-2xl" for="descripcion">Descripcion:</label>
                    <input id="descripcion" pInputText formControlName="descripcion" type="text"
                        class="w-full text-sm 2xl:text-2xl">
                    @if(form.get('descripcion')?.invalid && form.get('descripcion')?.dirty){
                    <small class="p-error block">El campo descripcion es requerido</small>
                    }
                </div>
            </div>
            <div class="col-span-12 xl:col-span-6 2xl:col-start-4 2xl:col-span-6">

                <div class="w-full h-full">
                    <label class="text-sm 2xl:text-2xl">Materia:</label>
                    <p-inputGroup>
                        <input type="text" pInputText placeholder="Seleccione una materia" class="text-sm 2xl:text-2xl"
                            formControlName="materia" />
                        <p-button label="Seleccionar" [disabled]="!(planSelected$ | async)" severity="primary"
                            styleClass="text-sm 2xl:text-2xl" (onClick)="toggleModalMaterias()">
                        </p-button>
                    </p-inputGroup>
                    @if (!(planSelected$ | async)) {
                    <small id="descripcion-help">Debe seleccionar un plan para seleccionar una materia</small>
                    }
                </div>
            </div>


            <div class="col-span-12 xl:col-span-6 2xl:col-start-4 2xl:col-span-6">

                <div class="w-full h-full">
                    <label class="text-sm 2xl:text-2xl" for="anioCalendario">Cupo:</label>
                    <p-inputNumber inputId="integeronly" formControlName="cupo" class="w-full text-sm 2xl:text-2xl"
                        styleClass="w-full" />
                    @if(form.get('cupo')?.invalid && form.get('cupo')?.dirty){
                    <small class="p-error block">El campo cupo es requerido</small>
                    }
                </div>
            </div>
            <div class="col-span-12 xl:col-span-6 2xl:col-start-4 2xl:col-span-6">
                <!-- Comisión -->
                <div class="w-full h-full">
                    <label class="text-sm 2xl:text-2xl">Comisión:</label>
                    <p-inputGroup>
                        <input type="text" pInputText placeholder="Seleccione una comisión" class="text-sm 2xl:text-2xl"
                            formControlName="comision" />
                        <p-button label="Seleccionar" [disabled]="!(planSelected$ | async)" severity="primary"
                            styleClass="text-sm 2xl:text-2xl" (onClick)="toggleModalComisiones()">
                        </p-button>
                    </p-inputGroup>
                    @if (!(planSelected$ | async)) {
                    <small id="descripcion-help">Debe seleccionar un plan para seleccionar una comisión</small>
                    }
                </div>
            </div>
        </div>
        <div class="col-span-12 xl:col-span-12 2xl:col-start-4 2xl:col-span-6 flex justify-center gap-4">
            <p-button type="submit" label="Guardar" icon="pi pi-check" severity="success"
                styleClass="w-full text-sm 2xl:text-2xl"></p-button>
            <p-button label="Cancelar" severity="danger" (onClick)="redirectCursos()"
                styleClass="w-full text-sm 2xl:text-2xl"></p-button>
        </div>
    </form>
</div>



<app-planes-modal></app-planes-modal>
<app-materias-modal></app-materias-modal>
<app-comisiones-modal></app-comisiones-modal>