@if (error$ | async)
{
<p-messages severity="error">
    <ng-template pTemplate>

        <div class="ml-2">{{(errorMessage$ | async)}}</div>
    </ng-template>
</p-messages>

}

<p-table #dt2 [value]="(alumnos$ | async)!" [loading]="(loading$ | async)"
    styleClass="p-datatable-gridlines p-datatable-striped h-full pt-0 text-xs sm:text-sm md:text-base lg:text-base xl:text-base" responsiveLayout="stack"
    [breakpoint]="'960px'" [paginator]="true" [scrollable]="true" [rows]="rowsPerPage" scrollHeight="flex"
    [globalFilterFields]="['nombre', 'apellido', 'direccion', 'email', 'legajo']" size="small">
    <ng-template pTemplate="caption">

        @if (mostrarTip) {

        <p-message icon="pi pi-info-circle" severity="info" styleClass="mb-4">
            Debe utilizar los filtros para visualizar datos en la tabla
        </p-message>
        }

        <div class="grid">
            <div class="grid grid-cols-12 w-full gap-4">
                <div class="col-span-12 xl:col-span-4 flex flex-col">
                    <label class="mb-2">Especialidad:</label>
                    <app-especialidad-filter
                        class="h-full"
                        (selectionChange)="onEspecialidadChanged($event)">
                    </app-especialidad-filter>
                </div>

                <div class="col-span-12 xl:col-span-4 flex flex-col">
                    <label class="mb-2">Plan:</label>
                    <app-plan-filter
                        class="h-full"
                        (selectionChange)="onPlanChanged($event!)"
                        [disable]="disablePlanDropDown">
                    </app-plan-filter>
                </div>

                <div class="col-span-12 xl:col-span-4 flex flex-col">
                    <label class="mb-2">Búsqueda:</label>
                    <p-iconField iconPosition="left" class="h-full">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText pSize="large"
                            class="w-full text-xs sm:text-sm md:text-base lg:text-base xl:text-base h-[38px]"
                            type="text"
                            (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Buscar alumno" />
                    </p-iconField>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Legajo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Plan</th>
            <th class="text-center">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-alumno>
        <tr>
            <td><span class="p-column-title">Legajo</span>{{alumno.legajo}}</td>
            <td><span class="p-column-title">Nombre</span>{{alumno.nombre}}</td>
            <td><span class="p-column-title">Apellido</span>{{alumno.apellido}}</td>
            <td><span class="p-column-title">Plan</span>{{alumno.plan.descripcion}}</td>
            <td><span class="p-column-title">Acciones</span>
                <div class="flex gap-2 justify-center">
                    <p-button label="Inscripciones" styleClass="text-xs sm:text-sm md:text-base lg:text-base xl:text-base px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2"
                        (onClick)="redirectToInscripciones(alumno._id)"></p-button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        @if ((alumnos$ | async)!.length === 0) {
        <tr>
            <td class="text-center" colspan="5">No se han registrado inscripciones</td>
        </tr>
        }
        @else {
        <tr>
            <td class="text-center" colspan="5">No se encontraron inscripciones con el filtro
                aplicado</td>
        </tr>
        }
    </ng-template>

</p-table>