<p-table #dt2 [value]="(docenteCursos$ | async)!" [loading]="(loading$ | async)"
    styleClass="p-datatable-gridlines p-datatable-striped h-full pt-0 text-xs sm:text-sm md:text-base lg:text-base xl:text-base" responsiveLayout="stack"
    [breakpoint]="'960px'" [paginator]="true" [scrollable]="true" [rows]="5" size="small" scrollHeight="flex"
    [globalFilterFields]="['nombre', 'apellido', 'direccion', 'email', 'legajo']">
    <ng-template pTemplate="caption">
        
        @if (curso) {
        <div class="mb-4 text-center">
            <h2 class="text-xs sm:text-sm md:text-base lg:text-base xl:text-base font-semibold mb-4">
                Docentes del curso: {{curso.descripcion}}
            </h2>
        </div>
        }

        <div class="grid grid-cols-12 gap-4 w-full">
            <div class="col-span-12 md:col-span-3 flex justify-center">
                <p-button 
                    label="Volver hacia atras" 
                    severity="primary" 
                    styleClass="text-xs sm:text-sm md:text-base lg:text-base xl:text-base px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2"
                    (onClick)="redirectBackToCourses()">
                </p-button>
            </div>
            <div class="col-span-12 md:col-span-4 md:col-start-5 flex justify-center">
                <p-button 
                    label="Nueva asignación" 
                    severity="info" 
                    styleClass="text-xs sm:text-sm md:text-base lg:text-base xl:text-base px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2"
                    (onClick)="redirectNewDocenteCurso()">
                </p-button>
            </div>
            <div class="col-span-12 md:col-span-4">
                <p-iconField iconPosition="left" class="w-full">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" 
                        class="w-full text-xs sm:text-sm md:text-base lg:text-base xl:text-base py-1 sm:py-2 md:py-2 lg:py-2" 
                        (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar docente" />
                </p-iconField>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th class="text-center">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-docenteCurso>
        <tr>
            <td><span class="p-column-title">Apellido</span>{{docenteCurso.profesor.apellido}}</td>
            <td><span class="p-column-title">Nombre</span>{{docenteCurso.profesor.nombre}}</td>
            <td><span class="p-column-title">Cargo</span>{{docenteCurso.cargo}}</td>
            <td><span class="p-column-title">Acciones</span>
                <div class="flex gap-2 justify-center">
                    <p-button 
                        label="Quitar" 
                        severity="danger"
                        styleClass="text-xs sm:text-sm md:text-base lg:text-base xl:text-base px-2 py-1 sm:px-3 sm:py-2 md:px-4 md:py-2 lg:px-4 lg:py-2"
                        (onClick)="modalConfirmar(docenteCurso)">
                    </p-button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        @if ((docenteCursos$ | async)!.length === 0) {
        <tr>
            <td class="text-center text-xs sm:text-sm md:text-base lg:text-base xl:text-base" colspan="4">
                No se han registrado docentes vinculados al curso
            </td>
        </tr>
        }
        @else {
        <tr>
            <td class="text-center text-xs sm:text-sm md:text-base lg:text-base xl:text-base" colspan="4">
                No se encontraron docentes asignados con el filtro aplicado
            </td>
        </tr>
        }
    </ng-template>
</p-table>

<p-confirmDialog #cd [closable]="false">
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
    <ng-template pTemplate="footer" let-reject="reject">
        <button type="button" size="small" pButton icon="pi pi-check" label="Aceptar" severity="success"
            (click)="cd.onAccept()" class="ui-button-success"></button>
        <button type="button" size="small" pButton icon="pi pi-times" label="Cancelar" severity="danger"
            (click)="cd.onReject()" class="ui-button-secondary"></button>
    </ng-template>
</p-confirmDialog>