<p-table #dt2 [value]="(docenteCursos$ | async)!" [loading]="(loading$ | async)"
    styleClass="p-datatable-gridlines p-datatable-striped text-sm lg:text-2xl" responsiveLayout="stack"
    [breakpoint]="'960px'" [paginator]="true" [scrollable]="true" [rows]="5" size="small" scrollHeight="48vh"
    [globalFilterFields]="['nombre', 'apellido', 'direccion', 'email', 'legajo']">
    <ng-template pTemplate="caption">
        
        <div class="grid ">
            <div class="grid grid-cols-12 w-full gap-2">
                <div class="col-span-12 text-center lg:text-start lg:col-span-2">
                    @if (curso) {
                    <h2 class="pt-0 col-12 flex justify-content-center"> Docentes del curso: {{curso.descripcion}}</h2>
                    }
                </div>
                <div class="col-span-12 lg:col-span-2 lg:lg:col-start-5">
                    <p-button label="Volver hacia atras" severity="primary" styleClass="w-full"
                        (onClick)="redirectBackToCourses()"></p-button>
                </div>
                <div class="col-span-12 lg:col-span-2">
                    <p-button label="Nueva asignación" severity="primary" styleClass="w-full"
                        (onClick)="redirectNewDocenteCurso()"></p-button>
                </div>
                <div class="col-span-12 lg:col-span-3 lg:lg:col-start-10">

                    <p-iconField iconPosition="left" class="text-sm lg:text-xl w-full">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" class="w-full" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Buscar curso" />
                    </p-iconField>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th class="text-center">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-docenteCurso>
        <tr>
            <td><span class="p-column-title">Apellido</span>{{docenteCurso.profesor.apellido}}</td>
            <td><span class="p-column-title">Nombre</span>{{docenteCurso.profesor.nombre}}</td>
            <td><span class="p-column-title">Cargo</span>{{docenteCurso.cargo}}</td>
            <td><span class="p-column-title">Acciones</span>
                <div class="flex gap-2 justify-center">
                    <p-button class="text-sm lg:text-2xl" label="Quitar" severity="danger"
                        (onClick)="modalConfirmar(docenteCurso)"></p-button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        @if ((docenteCursos$ | async)!.length === 0) {
        <tr>
            <td class="text-center text-sm lg:text-2xl" colspan="4">No se han registrado docentes vinculados al curso
            </td>
        </tr>
        }
        @else {
        <tr>
            <td class="text-center text-sm lg:text-2xl" colspan="4">No se encontraron docentes asignados con el filtro
                aplicado</td>
        </tr>
        }
    </ng-template>
</p-table>

<p-confirmDialog #cd [closable]="false">
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
    <ng-template pTemplate="footer" let-reject="reject">
        <button type="button" size="small" pButton icon="pi pi-check" label="Aceptar" severity="success"
            (click)="cd.onAccept()" class="ui-button-success"></button>
        <button type="button" size="small" pButton icon="pi pi-times" label="Cancelar" severity="danger"
            (click)="cd.onReject()" class="ui-button-secondary"></button>
    </ng-template>
</p-confirmDialog>