$sm:576px !default;
$md:992px !default;
$lg:1400px !default;
$xl:2200px !default;

$breakpoints: (
    'sm': $sm,
    'md': $md,
    'lg': $lg,
    'xl': $xl
) !default;
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/soho-dark/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/primeflex/primeflex.scss";

#main{
    height: 95%;
}

.form-disabled{
    .p-component:disabled {
        opacity: 1 !important;
    }
}

.content {
    height: 100%;
    .p-panel-header {
        height: 10%;
        padding: 0px;
    }
    .p-toggleable-content.ng-trigger.ng-trigger-panelContent {
        height: 90% !important;
    }
    .p-panel-content {
        height: 100%;
    }
    @media (width < 920px) {
       
         .p-panel-content {
            height: 95% !important;
        }

        .form-height{
            div.p-card-body{
                
            overflow-y: scroll !important;
            height: 100% !important;
        
            }
        }
    }

}


