$sm:576px !default;
$md:992px !default;
$lg:1400px !default;
$xl:2200px !default;

$breakpoints: (
    'sm': $sm,
    'md': $md,
    'lg': $lg,
    'xl': $xl
) !default;
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/soho-dark/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/primeflex/primeflex.scss";


       
:host::ng-deep  .p-datatable-flex-scrollable>.p-datatable-wrapper {
    @media  (min-width: 991px) {
        max-height: 50vh !important;
    }

    @media  (min-width: 992px) {
        max-height: 100% !important;
    }
}




