
@use "tailwindcss";
@use "primeicons/primeicons.css";
@plugin 'tailwindcss-primeui';
@layer tailwind, primeng;

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
  }

  :host::ng-deep  .p-datatable-flex-scrollable>.p-datatable-wrapper {
    @media  (min-width: 991px) {
        max-height: 50vh !important;
    }

    @media  (min-width: 992px) {
        max-height: 100% !important;
    }
}

@media (min-width: 768px) {
  .p-column-title {
    display: none;
  }
}



       





