
<p-table #dt2 [value]="(especialidades$ | async)!" [loading]="(loading$ | async)" class="h-full"
    styleClass="p-datatable-gridlines p-datatable-striped h-full pt-0" responsiveLayout="stack" [breakpoint]="'960px'"
    [paginator]="true" [scrollable]="true" [rows]="5" scrollHeight="flex" [globalFilterFields]="['descripcion']">
    <ng-template pTemplate="caption">
        @if (error$ | async)
{
<p-messages severity="error">
    <ng-template pTemplate>

        <div class="ml-2">{{(errorMessage$ | async)}}</div>
    </ng-template>
</p-messages>

}

        <div class="grid">
            <div
                class="col-12 flex flex-column sm:flex-column lg:flex-row align-items-center lg:justify-content-between justify-content-center">

                <p-iconField iconPosition="left" class="mb-4 lg:mb-0 w-full">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text"  class="w-full lg:w-4" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar especialidad" />
                </p-iconField>
                <p-button label="Nueva especialidad" severity="primary"  class="w-full lg:w-2" styleClass="w-full"
                    (onClick)="redirectNewEspecialidad()"></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Especialidad</th>
            <th class="text-center">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-especialidad>
        <tr>
            <td style="width:85%"><span class="p-column-title">Especialidad</span>{{especialidad.descripcion}}
            </td>
            <td style="width:15%"><span class="p-column-title">Acciones</span>
                <div class="flex gap-2 justify-content-center">
                    <p-button size="small" label="Editar" severity="primary" class="mr-20"
                        (onClick)="redirectEditEspecialidad(especialidad._id)" />
                    <p-button size="small" label="Borrar" severity="danger" (onClick)="showModal(especialidad)" />
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        @if ((especialidades$ | async)!.length === 0) {
        <tr>
            <td class="text-center" colspan="2">No se han registrado especialidades</td>
        </tr>
        }
        @else {
        <tr>
            <td class="text-center" colspan="2">No se encontraron especialidades con el filtro aplicado</td>
        </tr>
        }
    </ng-template>
</p-table>



<especialidad-borrar-modal [especialidad]="especialidad"></especialidad-borrar-modal>


<!-- 
 -->