
<p-table #dt2 [value]="(especialidades$ | async)!" [loading]="(loading$ | async)"
    styleClass="p-datatable-gridlines p-datatable-striped h-full pt-0 text-sm lg:text-xl" responsiveLayout="stack" [breakpoint]="'960px'"
    [paginator]="true" [scrollable]="true" size="small" [rows]="5" [scrollHeight]="scrollSize" [globalFilterFields]="['descripcion']">
    <ng-template pTemplate="caption">
    @if (error$ | async)
    {
    <p-message severity="error" class="mb-2">
        {{(errorMessage$ | async)}}
    </p-message>

    }

<div class="flex flex-col w-full gap-2 md:flex-row justify-between">
<div>
    <p-iconField iconPosition="left">
        <p-inputIcon>
            <i class="pi pi-search"></i>
        </p-inputIcon>
        <input pInputText type="text" class="w-full text-sm lg:text-xl py-1 sm:py-1 md:py-1" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Buscar especialidad" />
    </p-iconField>
</div>
<div>
    <p-button
    label="Nueva especialidad"
    severity="info"
    class="w-full"
    [styleClass]="
      'w-full text-sm sm:text-base md:text-lg px-3 py-1 sm:px-4 sm:py-1 md:px-5 md:py-1'
    "
    (onClick)="redirectNewEspecialidad()"
  ></p-button>
</div>
</div>

    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Especialidad</th>
            <th class="text-center">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-especialidad>
        <tr>
            <td  style="width:80%"><span class="p-column-title">Especialidad</span>{{especialidad.descripcion}}
            </td>
            <td style="width:20%"><span class="p-column-title">Acciones</span>
                <div class="flex gap-2 justify-center">
                    <p-button class="text-sm lg:text-lg" label="Editar" severity="warn" 
                        (onClick)="redirectEditEspecialidad(especialidad._id)" />
                    <p-button class="text-sm lg:text-lg" label="Borrar" severity="danger" (onClick)="showModal(especialidad)" />
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        @if ((especialidades$ | async)!.length === 0) {
        <tr>
            <td class="text-center" colspan="2">No se han registrado especialidades</td>
        </tr>
        }
        @else {
        <tr>
            <td class="text-center" colspan="2">No se encontraron especialidades con el filtro aplicado</td>
        </tr>
        }
    </ng-template>
</p-table>



<especialidad-borrar-modal [especialidad]="especialidad"></especialidad-borrar-modal>
